@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* WHITE #FFF */
/* DARK GREEN #0A3623 */
/* LIGHT GREEN #E3FF48 */
/* DARK BLUE #000067 */

/* GENERAL STYLE */

:root {
    /* COLORS */
    --color-white-1: #FFF;
    --color-dark-green-1: #0A3623;
    --color-light-green-1: #E3FF48;
    --color-dark-blue-1: #000067;
}

body {
    width: 100%;
    overflow-x: hidden;
    background:#e3e3e3;
}

.container {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container_2 {
    max-width: 1000px;
}

.banner {
    display: flex;
    width: 100%;
    background: var(--color-dark-blue-1);
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.banner .column {
    width: 33%;
}

.row {
    display: flex;
}

/* NAVIGATION MENU */

#menu-primary-navigation {
    display: flex;
    justify-content: space-between;    
}

.nav-secodary {
    justify-content: end;
}

.nav-primary {
    align-items: center;
    display: flex;    
}

.menu-primary-navigation-container {
    width: 100%;    
}

.menu-primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.nav-secodary {
    justify-content: end;
    align-items: center;
}

.logo-column {
    display: flex;
    align-items: center;
}

.logo-column img {
    height: 30px;;
}

.banner a {
    color: var(--color-white-1);
    text-transform: lowercase;
}

.sub-menu {
    display: none;
}

.sub-menu.active {
    display: block;
    position: absolute;
    background: #04452E;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;    
}

.sub-menu .menu-item {
    padding-right: 25px;
    padding-left: 25px;
}

.sub-menu .menu-item a {
    color: #E8FF59;
    text-transform: lowercase;
}

.nav-secodary {
    display: flex;
}

.nav-secodary a {
    padding-left: 20px;
}

.button {
    padding: 10px 30px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .banner {
        display: none;
    }
}

/* HOME */

.home-banner {
    position: absolute;
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
}

.home-banner .wrapper {
    width: 100%;
}

.home-banner h1 {
    color: #E8FF59;
    font-size: 200px;
    text-align: center;
}

.home-banner .wrapper img {
    display: block;
    margin: auto;
    width: 200px;    
}

.home-banner .wrapper h3 {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #E3E3E3;
    margin-top: 75px;
}

.bg-green {
    background: var(--color-light-green-1);
    color: var(--color-dark-green-1);
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.symbiosis-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://i.imgur.com/omE29Ki.jpg') no-repeat center;
    background-size: cover;
}

.news-bar {
    margin: 75px 0px;
}

.news-bar h2 {
    text-align: center;
    text-transform: uppercase;
    color: #04452E;    
}

.news-bar .button-row {
    display: flex;
    justify-content: center;
    margin-top: 30px;    
}

.news-bar .button-row a {
    margin: 0px 10px;
}

.callout-section img {
    display: none;
}

.callout-section h2 {
    text-align: center;
    font-size: 96px;
    color: #04452E;
}

.callout-section p {
    text-align: center;
    color: #04452E;
}

.callout-section .button {
    text-align: center;
    max-width: 170px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.callout-section.container {
    max-width: 894px;
}

.getting-started {
    background-image: url("http://symbiosis.local/wp-content/uploads/2022/07/bg_3_small.png");
    margin-top: 150px;
    padding: 75px 0px;
    background-position: center;
    background-size: cover;
}

.getting-started-1 {
    justify-content: space-between;
}

.getting-started-1 .col_1 {
    width: 40%;
}

.getting-started-1 .col_1 h2 {
    font-size: 86px;
    line-height: 90px;
    color: #fff;
}

.getting-started-1 .col_1 img {
    width: 60px;
    margin-top: 15px;
}

.getting-started-1 .col_2 {
    width: 60%;
    max-width: 500px;
}

.getting-started-1 .col_2 p {
    font-size: 29px;
    color: #fff;
}

.getting-started-1 .col_2 .sub_text_1 {
    margin-bottom: 25px;
}

.getting-started-2 .box {
    width: 30%;
    padding: 15px;
    border: solid 1px #fff;
    border-radius: 12px;
    height: 350px;
    position: relative;
}

.getting-started-2 {
    justify-content: space-between;
    margin-top: 100px;
}

.getting-started-2 h3 {
    font-size: 30px;
    color: #fff;
}

.getting-started-2 p {
    position: absolute;
    bottom: 75px;
    color: #fff;
}

.getting-started-2 a {
    position: absolute;
    bottom: 15px;
}

.getting-started-2 .learn-row {
    position: relative;
}

.getting-started-2 h5 {
    color: #fff;
}

.getting-started-2 img {
    position: absolute;
    right: -26px;
    top: 5px;
    width: 16px;
}

.resources {
    margin-top: 100px;
    margin-bottom: 100px;    
}

.resources .col {
    width: 50%;
}

.resources h2 {
    color: #04452E;
    font-size: 96px;
    text-transform: lowercase;
    line-height: 60px;
}

.resources p {
    font-size: 28px;
    color: #04452E;
}

.resource-row {
    display: flex;
    margin-bottom: 15px;    
}

.resource-row img {
    height: 18px;
    margin-top: 3px;
    padding-right: 10px;  
}

.resource-row h5 {
    color: #04452E;
}

.blog-tile {
    width: 49%;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px #04452E;
    border-radius: 12px;
}

.blog-tile .category {
    font-size: 14px;
    color: #04452E;    
}

.blog-tile .title {
    font-size: 30px;
    color: #04452E;
}

.blog-tile p {
    color: #04452E;
}

.resources .sub_text {
    margin-bottom: 20px;
}

.blog-list .more-row {
    border-top: solid 1px #04452E;
    border-bottom: solid 1px #04452E;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
    color: #04452E;
    align-items: center;    
}

.blog-list .more-row img {
    height: 18px;
    margin-left: 5px;    
}

.callout-section-2 h2 {
    font-size: 86px;
}

.callout-section-2 {
    margin-top: 100px;
    margin-bottom: 100px;
}



/* OUR STRATEGY */

.about-banner {
    background: #E8FF59;
    padding: 50px 15px;
}

/* News Ticker */

.news_ticker {
    position: relative;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.news_ticker .news_item {
    position: absolute;
    left: 0;
    transition: all 10s ease;
}

.news_ticker .news_item.moving {
    left: 100px;
}

.ticker-tape {
    background: #E8FF59;
    color: #04452E;
    text-transform: uppercase;
    padding: 10px 0px;
}